{% macro render_field(field) %}
  {% if field.id != 'csrf_token' %}
  <dt><b>{{ field.label }}<b></dt>
  <dd>{{ field(**kwargs) }}{% if field.flags.required %}*{% endif %}
  {% endif %}
{% endmacro %}

<form method=post>
  <dl>
   {{ render_field(form.username) }}
   {{ render_field(form.password) }}
   {{ render_field(form.remember) }}
  </dl>
  <p><input type=submit value=Login>
</form>
