<!DOCTYPE html>
<html>

  <body>

    <form action="/display" method="POST">
      <button onclick="display(control)">Display</button>
    </form>

    <br />

    <form action="/new" method="POST">
      <button onclick="submit(control)">Submit</button>

    <br />
    <br />

    <div class="row">
      <div class="col-md-4">
        <label>Distance</label>
      <select name="distance" id="brevet_dist_km">
        <option value="200">200km</option>
        <option value="300">300km</option>
        <option value="400">400km</option>
        <option value="600">600km</option>
        <option value="1000">1000km</option>
      </select>
      </div><!-- columns 14  -->
      <div class="col-md-6">
       <label>Begins at</label>
       <input type=date name="begin_date" id="begin_date" value="2017-01-01" />
       <input type=time name="begin_time" id="begin_time" value="00:00"    />
      </div> <!-- columns 5-10 -->
      </div> <!-- row -->

      <br />  <!-- Cosmetic  a little vertical space -->
      <!-- Although we do not use tables for general page layout, they are
       appropriate for something that really is a table, like this
       one.  We allocate it the full 12 columns of the bootstrap grid.
  -->
      <div class="row">
      <div class="col-md-12"> 
      <table class="control_time_table">
        <tr>
	   <th> Km </th>
	   <th> Location </th>
          </tr>
       {% for row in range(1) %}
        <tr class="control">
          <!-- Dist (km) -->
          <td><input name="km" type="text"
	   min="0" max="1100" size="5" /></td>
          <!-- Location (optional) -->
          <td><input name="location_name" id="location_name" type="text" 
        placeholder="Optional location name"
	size="20" /></td>
        </tr>
       {% endfor %}
      </table>
      </div> <!-- col -->
      </div> <!-- row -->
    </form>

    <script type="text/javascript">

        function submit(control) {
          var km = control.find("input[name='km']").val();
          var location_name = document.getElementById("location_name").value; 
          var distance = document.getElementById("brevet_dist_km").value; 
          var begin_date = document.getElementById("begin_date").value;
          var begin_time = document.getElementById("begin_time").value;

          $.post("/new", {km: km, location_name: location_name,
             distance: distance,
             begin_date: begin_date, begin_time: begin_time}); 
        }

        function display(control) {
          $.post("/display", {});
	} 

    </script>

  </body>

</html>
